.idea
.ignore
.mypy_cache
.pytest_cache
.vscode
src/backend/settings/local.py
__pycache__
*.pyc
/.git/
/.venv/
/env/
/venv/
/.env/

src/backend/.venv
src/backend/.pytest_cache
src/backend/.coverage
src/backend/static
src/backend/prometheus_metrics
