.idea/
.vscode/
.DS_Store

.env
.venv/
env/
venv/

__pycache__/
*.pyc

.coverage
/coverage/
/htmlcov/
.mypy_cache
.pytest_cache

docker/env.private
staticfiles/

src/backend/settings/local.py
src/backend/certs/
src/backend/htmlcov/
src/backend/junit/

src/frontend/yarn.lock
src/frontend/node_modules
src/frontend/yarn-error.log

*.sqlite3
/src/backend/static/
/src/backend/prometheus_metrics/
